# compiled output
/dist
/tmp
/public

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
.tern-project
Observables/.angular-cli.json
Observables/.editorconfig
Observables/.gitignore
Observables/karma.conf.js
Observables/package-lock.json
Observables/package.json
Observables/protractor.conf.js
Observables/README.md
Observables/tsconfig.json
Observables/tslint.json
Observables/e2e/app.e2e-spec.ts
Observables/e2e/app.po.ts
Observables/e2e/tsconfig.e2e.json
Observables/src/favicon.ico
Observables/src/index.html
Observables/src/main.ts
Observables/src/polyfills.ts
Observables/src/styles.css
Observables/src/test.ts
Observables/src/tsconfig.app.json
Observables/src/tsconfig.spec.json
Observables/src/typings.d.ts
Observables/src/app/app.component.css
Observables/src/app/app.component.html
Observables/src/app/app.component.spec.ts
Observables/src/app/app.component.ts
Observables/src/app/app.module.ts
Observables/src/assets/.gitkeep
Observables/src/environments/environment.prod.ts
Observables/src/environments/environment.ts
